@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.image_logo{
    width:150px;
}
.hamberger_icon{
    color:black;
    background-color: white;
}
.background_navbar_banner_section{
    background-image:url("https://assets.ccbp.in/frontend/responsive-website/landing-section-bg.png");
    height:100vh;
    background-size:cover;
}
.heading_nav_bar_banner_Section{
    font-size:30px;
    /* font-family:"Roboto"; */
    /* font-weight:bold; */
    text-align: center;
}
.sign_up_button{
    color:black;
    margin-top:20px;
    background-color:#FFDDA9;
    width:150px;
    height:60px;
    border-radius: 15px;
    font-weight:bold;
    font-size:18px;
}
.background-color-navbar_navigation_bar{
    background-color:#0C0521;
}